@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400italic);

body {
	background: url("images/background.jpg") no-repeat center center fixed;
	font-size: 16px;
	height: 100vh;
	margin: 1em auto;
	text-align: center;
}

h1 {
	color: white;
	font-family: 'Lobster', cursive;
	font-size: 4em;
}

h2 {
	color: #C8CC7C;
	font-family: 'Droid Serif', serif;
	font-size: 3em;
	font-style: italic;
}

h3 {
	color: #C8CC7C;
	font-family: 'Droid Serif', serif;
	font-size: 3em;
	font-style: italic;
}

h4 {
	color: #719985;
	display: inline-block;
	font-size: 1.5em;
	margin-left: 3em;
}

.name {
	color: #719985;
}

.dealerCard, .playerCard {
	height: 100px;
}

.dealClearButtons, .hitStayButtons {
	bottom: 30%;
	left: 45%;
	position: absolute;
}

#playAgainButton {
	bottom: 30%;
	left: 44%;
	position: absolute;
	width: 13%;
}

.chips {
	bottom: 15%;
	left: 40%;
	position: absolute;
}

.chipsImage {
	border-radius: 35px;
}

.chooseDealer {
	margin: 0 auto;
}

.chooseDealerImage {
	margin: .5em;
	width: 19%;
}

.name {
	color: white;
	display: inline-block;
	font-size: 1.5em;
}

.score {
	width: 3em;
}

.status {
	bottom: 5%;
	left: 28%;
	position: absolute;
}